OrderNotifier#received
Dear <%= @order.name %>



Thank you for your recent order from The Pragmatic Store.



You ordered the following items:



<%= render @order.line_items -%>

<%= @greeting %>, find me in app/views/order_notifier/received.text.erb
