<h2>Your Cart</h2>
<table>
  <!-- START_HIGHLIGHT -->
  <%= render(cart.line_items) %>
  <!-- END_HIGHLIGHT -->

  <tr class="total_line">
    <td colspan="2">Total</td>
    <!-- START_HIGHLIGHT -->
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
    <!-- END_HIGHLIGHT -->
  </tr>

</table>
<%= button_to "Checkout", new_order_path, method: :get %>
<%= button_to 'Empty cart', cart, method: :delete,
              #END_HIGHLIGHT
              data: { confirm: 'Are you sure?' } %>