<h1>Store#index</h1>
<p>Find me in app/views/store/index.html.erb</p>
<% if notice %>

    <p id= "notice" > <%= notice %> </p>

<% end %>



<h1> Your Pragmatic Catalog </h1>
<%= pluralize @count, 'time' %>
<p> you were here <%= @cont %>times </p>
<% cache ['store', Product.latest] do %>
<% @products.each do |product| %>

    <div class= "entry" >
      <% cache [ 'entry' , product] do %>
      <%= image_tag(product.image_url) %>

      <h3> <%= product.title %> </h3>

      <%= sanitize(product.description) %>

      <div class= "price_line" >

        <span class= "price" > <%= number_to_currency(product.price) %> </span>
        <%= button_to 'Add to Cart' , line_items_path(product_id: product), remote: true %>
      </div>

    </div>

      <% end %>
      <% end %>
<% end %>