<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name%>'>
<div id= "banner" >
  <%= image_tag("logo.png") %>
  <%= @page_title || "Pragmatic Bookshelf" %>
</div>
<div id= "columns" >
  <div id= "side" >
    <% if @cart %>
    <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
        <%= render @cart %>
    <% end %>
        <% end %>
    <ul>
      <li><%= link_to 'Orders',   orders_path   %></li>
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Users',    users_path    %></li>
    </ul>
    <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'Orders',   orders_path   %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users',    users_path    %></li>
        </ul>
        <%= button_to 'Logout', logout_path, method: :delete   %>
    <% end %>
  </div>
  <div id= "main" >
    <%= yield %>
  </div>
</div>
</body>
</html>
